[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
mypy = "*"
pytest = "*"
black = "*"
ruff = "*"
types-requests = "*"

[requires]
python_version = "3.11"
